@charset "utf-8";

/********** Global **********/
/*
 *常用背景色： #0b0f34 (6,64,102) (29,45,57) (7,33,58) (8,13,28) (15,43,36)
 */
html, body {
	width:100%;
	height:100%;
	/* min-height:635px; */
	font-family:"microsoft yahei", arial, sans-serif;
	background-color:#0f1c30;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 100%;
	overflow-x:hidden;
	overflow-y:auto;
}
body.bg01 {background-image:url("../img/bg01.png");}
body.bg02 {background-image:url("../img/bg02.png");}
body.bg03 {background-image:url("../img/bg03.png");}
body.bg04 {background-image:url("../img/bg04.png");}
.header {
	margin:0 auto;
	width:100%;
	height:80px;
	max-width:1920px;
	background:url("../img/header.png") center no-repeat;
}
.header h3 {
	margin:0;
	padding:0;
	line-height:70px;
	text-align:center;
	font-size:24px;
	color:#5dc2fe;
	font-weight: bold
}
.wrapper {position:absolute;top:80px;bottom:0;left:0;right:0;min-height:834px;}
/* .header {position:relative;height:42px;box-sizing:border-box;} */
.container-fluid {height:100%;min-height:100%;}
.row {margin-left:-7px;margin-right:-8px;}
.row>div {padding-left:7px;padding-right:8px;}
.xpanel-wrapper {padding-bottom:15px;box-sizing:border-box;}
.xpanel-wrapper-1 {height:100%;}
/* .xpanel-wrapper-2 {height:50%;} */
.xpanel-wrapper-2 {height:100%;}
/* .xpanel-wrapper-3 {height:33.33333%;} */
.xpanel-wrapper-3 {height:50%;}
.xpanel {
	padding:15px;
	height:100%;
	min-height:400px;
	background:url("../img/panel.png") center no-repeat;
	background-size:100% 100%;
	box-sizing:border-box;
}

/* tool */
.fill-h {height:100%;min-height:100%;}
.no-margin {margin:0 !important;}
.no-padding {padding:0 !important;}

/* scrollbar */
::-webkit-scrollbar {width:0;height:0;}
::-webkit-scrollbar-track {background-color:transparent;}
::-webkit-scrollbar-thumb {border-radius:5px;background-color:rgba(0, 0, 0, 0.3);}

.xpanel .title {
	padding-left:24px;
	height:44px;
	line-height:44px;
	font-size:24px;
	font-weight:normal;
	color:#fff;
	background-image:url("../img/title-bg.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
} 
.data-t {table-layout:fixed;width:100%;height:100%;border-collapse:collapse;}
.data-t th,
.data-t td {min-height:48px;}
.data-t th {width:60px;text-align:center;background:url("../img/icon-bg.png") center / 100% no-repeat;}
.data-t th img {width:30px;height:30px;}
.data-t td {padding-left:15px;}
.data-t p {margin:5px 0;line-height:1;font-size:14px;color:#b0c2f9;}
.data-t p span {font-size:32px;font-weight:bold;color:#fff;}
.researchList p i{font-family: 'Mistral';color: rgb(93, 194, 254);font-size:22px;background:url("../img/icon-bg.png") center / 100% no-repeat;}
.researchList p{color: rgb(93, 194, 254);font-size:20px;font-family: '华文行楷';}
.el-popover-content{font-family: '华文行楷';color: white;}
.my-popover{background: #0f1c30;}